@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Bold.woff2") format("woff2"), url("Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Medium.woff2") format("woff2"), url("Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Semibold.woff2") format("woff2"), url("Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Regular.woff2") format("woff2"), url("Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  padding: 40px 30px 0px 30px;
  margin: 0;
  position: relative;
  font-family: "Poppins", sans-serif;
  background: #f4f4f4;
  overflow-x: hidden;
}

@media (max-width: 576px) {
  body {
    padding: 0;
  }
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.clear-fix {
  clear: both;
}

.prime-title {
  padding: 30px 0px;
}

.prime-title h2 {
  color: #ff964a;
}

.prime-title .prime-part {
  color: #4ba4e1;
  font-size: 36px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 3;
  padding: 40px 0px 40px 30px;
  margin-right: 30px;
  top: 0;
  left: 0;
  bottom: 0;
  width: 90px;
  overflow: hidden;
  background: #f4f4f4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .logo a .name {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.navbar .logo a .name .sub {
  font-size: 8px;
  margin-left: -5px;
}

.navbar .logo a .sub-name {
  margin-top: -10px;
  font-size: 11px;
  font-weight: 500;
  color: #773cfc;
}

.navbar .main-button {
  height: 60px;
  width: 60px;
  background: #000000;
  font-size: 14px;
  color: white;
  font-style: italic;
  line-height: 60px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.navbar .main-button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0px 2px 15px #8a8a8a;
          box-shadow: 0px 2px 15px #8a8a8a;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.navbar .main-button .open-btn {
  display: block;
}

.navbar .main-button .close-btn {
  display: none;
}

.navbar .main-button::before {
  position: absolute;
  border-left: 0.5px solid #e2e2e259;
  content: "";
  bottom: 60px;
  left: 30px;
  height: 160px;
  color: #e2e2e2;
}

.navbar .main-button::after {
  position: absolute;
  border-left: 0.5px solid #e2e2e259;
  content: "";
  top: 60px;
  left: 30px;
  height: 160px;
  color: #e2e2e2;
}

.navbar .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .social-icon a {
  text-align: center;
  height: 32px;
  width: 32px;
  line-height: 32px;
  font-size: 14px;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  margin-bottom: 5px;
}

.navbar .social-icon a:hover {
  color: #773cfc;
  border: 1px solid #773cfc;
  background-color: #fff;
}

.navbar.pressed {
  background-color: #151515;
}

.navbar.pressed .logo a .name {
  color: white;
}

.navbar.pressed .logo a .sub-name {
  color: white;
}

.navbar.pressed .main-button {
  background-color: white;
  color: black;
}

.navbar.pressed .main-button .open-btn {
  display: none;
}

.navbar.pressed .main-button .close-btn {
  display: block;
}

.navbar.pressed .social-icon a {
  border: 1px solid #2d2d2d;
}

@media (max-width: 1024px) {
  .navbar .main-button::before {
    height: 110px;
  }
  .navbar .main-button::after {
    height: 110px;
  }
}

@media (max-width: 576px) {
  .navbar {
    width: 70px;
    padding: 40px 0;
    margin-right: 10px;
  }
  .navbar .main-button::before {
    height: 220px;
  }
  .navbar .main-button::after {
    height: 220px;
  }
}

.banner {
  position: relative;
  height: 100vh;
  background: #fff;
  overflow: hidden;
  margin-left: 90px;
  z-index: 0;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, transparent), color-stop(50%, white));
  background: linear-gradient(90deg, transparent 15%, white 50%);
}

.banner .banner-inner {
  height: 100%;
  -webkit-box-shadow: 0px 30px 40px 20px #efeded;
          box-shadow: 0px 30px 40px 20px #efeded;
  margin: 0 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.banner .banner-inner .top-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.banner .banner-inner .top-wrap ul li {
  margin-left: 15px;
}

.banner .banner-inner .top-wrap ul a {
  font-size: 12px;
  font-weight: lighter;
  color: gray;
}

.banner .banner-inner .top-wrap ul a span {
  font-weight: bold;
}

.banner .banner-inner .top-wrap ul a:hover {
  color: #773cfc;
}

.banner .banner-content {
  margin-top: 150px;
  vertical-align: center;
}

.banner .banner-content .title {
  font-size: 36.09023px;
  color: black;
  line-height: 45.11278px;
}

.banner .banner-content .title span {
  color: #773cfc;
}

.banner .banner-content .title.forPublication {
  text-align: right;
}

.banner .banner-content .title-sup {
  font-size: 12px;
  margin-left: 15px;
  color: #b1b1b1;
  font-weight: lighter;
}

.banner .banner-content .for-publication {
  text-align: right;
  font-size: 11.2782px;
  line-height: 17.29323px;
  color: #773cfc;
}

.banner .banner-content .other-wrap {
  max-width: 290px;
  margin: 35px 0 0 auto;
  padding-top: 15px;
  border-top: 1px solid #181818;
}

.banner .banner-content .other-wrap .title-sub {
  font-size: 13px;
  font-weight: lighter;
}

.banner .banner-content .other-wrap .title-ul {
  margin-top: 35px;
  padding-left: 0;
  font-size: 13px;
  list-style: none;
}

.banner .banner-content .other-wrap .title-ul a {
  text-decoration: none;
  color: black;
}

.banner .banner-content .other-wrap .title-ul a:hover {
  color: #773cfc;
}

@media (max-width: 768px) {
  .banner .banner-content {
    margin-top: 60px;
  }
  .banner .banner-content .title {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 576px) {
  .banner {
    margin-left: 70px;
  }
  .banner .banner-content .title {
    font-size: 32px;
    line-height: 40px;
  }
  .banner .banner-inner .top-wrap ul {
    display: block;
  }
}

.welcome-section {
  padding: 60px 0px;
}

.welcome-section .text-box1 {
  color: #773cfc;
  font-size: 19.54887px;
  line-height: 27.06767px;
  font-weight: 500;
}

.welcome-section .text-box {
  margin-top: 60px;
  font-size: 13.53383px;
  line-height: 20.30075px;
}

.welcome-section .back-text {
  font-size: 180px;
  font-weight: bold;
  color: #e1e1e1fa;
}

.welcome-section .back-text span {
  font-size: 90px;
  margin-top: -90px;
  display: block;
}

@media (max-width: 1024px) {
  .welcome-section {
    margin-left: 75px;
  }
}

@media (max-width: 576px) {
  .welcome-section .back-text {
    font-size: 60px;
  }
  .welcome-section .back-text span {
    font-size: 36px;
    margin-top: -35px;
  }
}

.circle-section {
  padding: 90px 0px;
  margin-left: 90px;
}

.circle-section .info-box {
  font-size: 13.53383px;
  line-height: 20.30075px;
  color: black;
  width: 300px;
}

.circle-section .info-box-second {
  font-size: 13.53383px;
  line-height: 20.30075px;
  color: black;
  margin: 150px 60px 0 auto;
  width: 400px;
}

.circle-section .circle-wrapper {
  position: relative;
  height: 340px;
  width: 340px;
  margin: 90px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle-section .circle-wrapper .centertext {
  color: #422190;
  z-index: 0;
  font-weight: bold;
  font-size: 22.55639px;
  line-height: 18.04511px;
}

.circle-section .circle-wrapper .centertext span {
  font-size: 10px;
  margin-top: -4px;
  display: block;
  font-weight: normal;
}

.circle-section .circle-wrapper .circle-item {
  position: absolute;
  top: 0;
  background: #773cfc2e;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  color: #422190;
}

.circle-section .circle-wrapper .circle-item .text {
  width: 100px;
  font-weight: bold;
  font-size: 13.53383px;
  line-height: 18.04511px;
}

.circle-section .circle-wrapper .circle-item:nth-child(1) .text {
  margin-top: 20%;
  margin-left: 20%;
}

.circle-section .circle-wrapper .circle-item:nth-child(2) .text {
  margin-top: 20%;
  margin-right: 20%;
  margin-left: auto;
}

.circle-section .circle-wrapper .circle-item:nth-child(3) .text {
  margin-top: 60%;
  margin-left: 20%;
}

.circle-section .circle-wrapper .circle-item:nth-child(4) .text {
  margin-top: 60%;
  margin-right: 20%;
  margin-left: auto;
}

.circle-section .circle-wrapper .medium-circle-left {
  top: calc(50% - 20px);
  left: 0;
  right: 0;
  position: absolute;
  height: 40px;
  background-color: #ddd3f5;
  width: 40px;
  border-radius: 50%;
  margin: 0 auto;
}

.circle-section .circle-wrapper .medium-circle-right {
  top: calc(50% - 20px);
  left: 0;
  right: 0;
  position: absolute;
  height: 40px;
  background-color: #ddd3f5;
  width: 40px;
  border-radius: 50%;
  margin: 0 auto;
}

.circle-section .circle-wrapper .small-circle-left {
  top: calc(50% - 10px);
  left: 0;
  right: 0;
  position: absolute;
  height: 20px;
  background-color: #ddd3f5;
  width: 20px;
  border-radius: 50%;
  margin: 0 auto;
}

.circle-section .circle-wrapper .small-circle-right {
  top: calc(50% - 10px);
  left: 0;
  right: 0;
  position: absolute;
  height: 20px;
  background-color: #ddd3f5;
  width: 20px;
  border-radius: 50%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .circle-section {
    padding: 0 0 60px 0;
  }
  .circle-section .circle-wrapper {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media (max-width: 576px) {
  .circle-section {
    margin-left: 70px;
  }
  .circle-section .info-box {
    width: auto;
  }
  .circle-section .circle-wrapper {
    margin: auto;
    margin-left: -30px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .circle-section .circle-wrapper .medium-circle-left,
  .circle-section .circle-wrapper .medium-circle-right,
  .circle-section .circle-wrapper .small-circle-left,
  .circle-section .circle-wrapper .small-circle-right {
    display: none;
  }
  .circle-section .info-box-second {
    width: auto;
    margin: 0;
  }
}

.news-section {
  background-color: white;
  padding: 45px 0;
}

.news-section .title {
  font-size: 19.54887px;
  line-height: 27.06767px;
  font-weight: 500;
}

.news-section .date {
  font-size: 11.2782px;
  line-height: 19.54887px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 500;
}

.news-section .col-md-3:first-child .news-item {
  background-color: #773cfc;
}

.news-section .col-md-3:first-child .news-item .news-title {
  color: white;
  border-bottom: 1px solid white;
}

.news-section .col-md-3:first-child .news-item .description {
  color: white;
}

.news-section .news-item {
  border: 1px solid #f4f4f4;
  padding: 30px 20px;
  position: relative;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.news-section .news-item:hover {
  border: 20px solid #f4f4f4;
  border-bottom: none;
  padding-bottom: 10px;
}

.news-section .news-item:hover .read {
  display: block;
  -webkit-box-shadow: 0px -2px 10px #c1c1c1;
          box-shadow: 0px -2px 10px #c1c1c1;
}

.news-section .news-item .news-title {
  display: inline-block;
  font-size: 13.53383px;
  line-height: 27.06767px;
  border-bottom: 1px solid gray;
}

.news-section .news-item .description {
  margin-top: 75px;
  font-size: 12.78195px;
  line-height: 21.05263px;
  min-height: 150px;
}

.news-section .news-item .read {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  text-decoration: none;
  line-height: 32px;
  text-align: center;
  color: white;
  font-size: 11.2782px;
  background-color: #773cfc;
}

.news-section .article-item {
  border: 1px solid #f4f4f4;
  padding: 30px 20px;
  position: relative;
}

.news-section .article-item .article-title {
  margin-top: 75px;
  display: inline-block;
  font-size: 13.53383px;
  line-height: 27.06767px;
  border-bottom: 1px solid gray;
}

.news-section .article-item .description {
  margin: 0 auto;
  margin-top: 35px;
  font-size: 18.04511px;
  line-height: 25.56391px;
  min-height: 150px;
  font-weight: 500;
  max-width: 550px;
  text-align: center;
}

.news-section .button-container {
  margin-top: 15px;
  text-align: center;
}

.news-section .button-container .read-btn {
  text-decoration: none;
  line-height: 40px;
  padding: 0px 30px;
  color: black;
  display: inline-block;
  text-align: center;
  font-size: 11.2782px;
  border: 1px solid #ebebeb;
}

@media (max-width: 1024px) {
  .news-section {
    margin-left: 75px;
  }
}

.believe {
  padding: 120px 0px 90px 0px;
}

.believe .description {
  font-size: 11.2782px;
  line-height: 18.79699px;
  font-weight: 500;
}

.believe a {
  font-size: 11.2782px;
  color: white;
  background: black;
  line-height: 45px;
  padding: 0px 30px;
  line-height: 45px;
  display: inline-block;
  padding: 0px 30px;
  margin-top: 20px;
}

.believe .title {
  font-size: 33.83459px;
  line-height: 45.11278px;
  color: #773cfc;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .believe {
    margin-left: 75px;
  }
}

@media (max-width: 576px) {
  .believe {
    padding: 60px 0;
  }
  .believe .title {
    margin-top: 30px;
    font-size: 20px;
    line-height: 120%;
  }
}

.footer {
  background-color: black;
  padding: 45px 0 15px 0px;
}

.footer .img-container {
  text-align: center;
  height: 60px;
}

.footer .img-container img {
  height: inherit;
}

.footer .main-content {
  border-top: 1px solid #2c2c2c;
  border-bottom: 1px solid #2c2c2c;
  color: white;
  margin-top: 30px;
  padding: 30px 0;
}

.footer .main-content .title {
  text-transform: uppercase;
  font-size: 13.53383px;
  line-height: 15.03759px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer .main-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.footer .main-content ul li {
  color: white;
}

.footer .main-content ul li a {
  color: white;
  font-size: 11.2782px;
  line-height: 15.03759px;
}

.footer .main-content .social-link {
  margin-bottom: 15px;
}

.footer .main-content .social-link a {
  display: inline-block;
  background-color: #292929;
  border-radius: 50%;
  height: 28px;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  width: 28px;
  color: white;
  margin-right: 5px;
}

.footer .main-content .sub-title {
  font-size: 11.2782px;
  line-height: 15.03759px;
  border-bottom: 1px solid gray;
}

.footer .main-content .sub {
  margin-top: 10px;
  font-size: 9.77444px;
  line-height: 13.53383px;
  color: #555555;
}

.footer .bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  font-size: 11.2782px;
  line-height: 60px;
}

.footer .bottom-footer .first-wrap span {
  padding: 0px 15px;
}

.footer .bottom-footer .first-wrap span a {
  color: white;
}

.footer .bottom-footer .second-wrap {
  color: gray;
}

@media (max-width: 1024px) {
  .footer {
    margin-left: 75px;
  }
  .footer .main-content .title {
    margin-top: 15px;
  }
  .footer .bottom-footer {
    line-height: 30px;
  }
}

.nav-model {
  background-color: #151515;
  position: fixed;
  display: none;
  top: 0px;
  border: 40px solid #151515;
  bottom: 0px;
  left: 90px;
  right: 0px;
  z-index: 9;
}

.nav-model .nav-wrap {
  padding: 0px 90px 0px 0px;
  background-color: black;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  height: calc(100vh - 80px);
  right: 0;
}

.nav-model .nav-wrap .first-wrap {
  padding-top: 90px;
}

.nav-model .nav-wrap .second-wrap {
  margin-top: 100px;
  font-size: 10.52632px;
  line-height: 17.29323px;
  font-weight: 500;
  color: #b2b2b2;
}

.nav-model .nav-wrap .second-wrap hr {
  border-top: 1px solid #b2b2b2;
}

.nav-model .nav-wrap .second-wrap a {
  font-weight: 600;
  display: block;
  margin-top: 10px;
  font-size: 11.2782px;
  line-height: 17.29323px;
  color: white;
}

.nav-model .nav-wrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-model .nav-wrap ul li {
  margin-top: 15px;
  height: 62px;
  padding-left: 240px;
}

.nav-model .nav-wrap ul li a::after {
  position: absolute;
  content: "";
  top: 14px;
  left: -240px;
  width: 0;
  border-top: 0.5px solid white;
}

.nav-model .nav-wrap ul li:hover a::after {
  width: 235px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav-model .nav-wrap ul li a {
  text-decoration: none;
  font-size: 41.35338px;
  line-height: 45.11278px;
  color: white;
  font-weight: 500;
  position: relative;
}

.nav-model .nav-wrap ul li .sub-title {
  font-size: 11.2782px;
  line-height: 17.29323px;
  color: #b898ff;
}

.nav-model.show {
  display: block;
}

@-webkit-keyframes navWrap {
  from {
    height: 0;
  }
  to {
    height: calc(100vh - 80px);
  }
}

@keyframes navWrap {
  from {
    height: 0;
  }
  to {
    height: calc(100vh - 80px);
  }
}

@-webkit-keyframes secondWrap {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes secondWrap {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes menuWrap {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
    padding-top: 72px;
  }
  100% {
    padding-top: 0px;
  }
}

@keyframes menuWrap {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
    padding-top: 72px;
  }
  100% {
    padding-top: 0px;
  }
}

.nav-model.show .nav-wrap {
  -webkit-animation-name: navWrap;
          animation-name: navWrap;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.nav-model.show .nav-wrap ul li {
  overflow-y: hidden;
  -webkit-animation-name: menuWrap;
          animation-name: menuWrap;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.nav-model.show .nav-wrap .second-wrap {
  -webkit-animation-name: secondWrap;
          animation-name: secondWrap;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@media (max-width: 1024px) {
  .nav-model .nav-wrap .first-wrap {
    padding-top: 60px;
  }
  .nav-model .nav-wrap .first-wrap ul li {
    margin-top: 5px;
  }
  .nav-model .nav-wrap .first-wrap ul li a {
    font-size: 30px;
    line-height: 100%;
  }
}

@media (max-width: 768px) {
  .nav-model .nav-wrap ul li {
    padding-left: 60px;
  }
}

@media (max-width: 576px) {
  .nav-model {
    left: 70px;
    border: 15px solid #151515;
  }
  .nav-model .nav-wrap {
    padding: 0;
    height: calc(100vh - 35px);
    display: block;
  }
  .nav-model .nav-wrap .first-wrap ul li a {
    font-size: 22px;
  }
  .nav-model .nav-wrap .second-wrap {
    padding: 15px;
  }
}

.contact-banner {
  position: relative;
  height: calc(100vh - 80px);
  background: #fff;
  overflow: hidden;
  margin-left: 90px;
  z-index: 0;
}

@-webkit-keyframes contactWrap {
  0% {
    opacity: 0;
  }
  64% {
    opacity: 0;
  }
  65% {
    opacity: 1;
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes contactWrap {
  0% {
    opacity: 0;
  }
  64% {
    opacity: 0;
  }
  65% {
    opacity: 1;
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@-webkit-keyframes contactContent {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

@keyframes contactContent {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

.contact-banner .contact-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-animation-name: contactWrap;
          animation-name: contactWrap;
  -webkit-animation-duration: 2.6s;
          animation-duration: 2.6s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}

.contact-banner .contact-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0000001f;
}

.contact-banner .contact-content {
  margin-right: 90px;
  padding: 45px;
  overflow: hidden;
  height: 260px;
  background: #ffffff36;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  -webkit-animation-name: contactContent;
          animation-name: contactContent;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes title {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    padding-top: 50px;
  }
  100% {
    padding-top: 0px;
  }
}

@keyframes title {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    padding-top: 50px;
  }
  100% {
    padding-top: 0px;
  }
}

@-webkit-keyframes info {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    padding-top: 60px;
  }
  100% {
    padding-top: 0px;
  }
}

@keyframes info {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    padding-top: 60px;
  }
  100% {
    padding-top: 0px;
  }
}

.contact-banner .contact-content .title {
  color: white;
  -webkit-animation-name: title;
          animation-name: title;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  font-weight: 700;
  height: 45px;
  overflow: hidden;
  font-size: 36.09023px;
  line-height: 45.11278px;
}

.contact-banner .contact-content .info {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 30px;
  -webkit-animation-name: info;
          animation-name: info;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  font-weight: 700;
  height: 50px;
  overflow: hidden;
}

.contact-banner .contact-content .info .wrap {
  margin-right: 15px;
  font-size: 10.52632px;
  line-height: 17.29323px;
}

.contact-banner .contact-content a {
  margin-top: 30px;
  display: block;
  -webkit-animation-name: title;
          animation-name: title;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  font-weight: 700;
  height: 45px;
  overflow: hidden;
  font-size: 10.52632px;
  line-height: 17.29323px;
  position: relative;
  color: white;
}

.contact-banner .contact-content a::after {
  position: absolute;
  content: "";
  top: -15px;
  left: 0;
  width: 80px;
  border-top: 1px solid white;
}

@media (max-width: 576px) {
  .contact-banner {
    margin-left: 70px;
    height: 100vh;
  }
  .contact-banner .contact-content {
    padding: 30px;
    margin: 15px;
  }
  .contact-banner .contact-content .title {
    text-align: center;
  }
  .contact-banner .contact-content .info {
    height: auto;
    display: block;
  }
}

.single-section {
  margin: 0 15%;
  margin-top: 45px;
}

.single-section .news-section {
  background-color: transparent;
}

.single-section .news-section .news-item {
  border: 1px solid #c3c3c3;
}

.single-section .news-section .news-item:hover {
  border-color: #c3c3c3;
}

.single-section h2 {
  font-size: 22.55639px;
  line-height: 30.07519px;
}

.single-section p {
  font-size: 13.53383px;
  line-height: 23.30827px;
  margin: 20px auto;
}

.single-section .social-share {
  margin-top: 30px;
  padding: 40px 0;
  border-top: 1px solid #d1d0d0;
  border-bottom: 1px solid #d1d0d0;
}

.single-section .social-share .name {
  font-size: 11.2782px;
  line-height: 18.04511px;
  color: #b4b4b4;
  margin-bottom: 10px;
}

.single-section .social-share .name span {
  color: #773cfc;
  margin-left: 5px;
}

.single-section .social-share .share-icon {
  font-size: 11.2782px;
  line-height: 18.04511px;
  color: #b4b4b4;
}

.single-section .social-share .share-icon a {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  border: 1px solid gray;
  text-align: center;
  line-height: 22px;
  color: gray;
}

.single-section .social-share .share-icon a:hover {
  color: #773cfc;
  border: 1px solid #773cfc;
}

@media (max-width: 576px) {
  .single-section {
    margin: 60px 0;
    margin-left: 70px;
  }
  .single-section .news-section {
    margin-left: 0;
  }
}

.people-banner {
  background-color: white;
  margin-left: 90px;
}

.people-banner .top-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 15px;
  list-style: none;
}

.people-banner .top-wrap ul li {
  margin-left: 15px;
}

.people-banner .top-wrap ul a {
  font-size: 12px;
  font-weight: lighter;
  color: gray;
}

.people-banner .top-wrap ul a span {
  font-weight: bold;
}

.people-banner .top-wrap ul a:hover {
  color: #773cfc;
}

.people-banner .center-wrap {
  padding: 90px 0px 20px 0px;
}

.people-banner .main-title {
  font-size: 36.09023px;
  line-height: 45.11278px;
  text-align: right;
  font-weight: bold;
  color: black;
}

.people-banner hr {
  margin-top: 25px;
  border-top: 2px solid gray;
}

.people-banner .quote {
  margin-top: 10px;
  font-size: 11.2782px;
  line-height: 17.29323px;
}

.people-banner .quote .quote-bottom {
  text-align: center;
}

.people-banner .join-team {
  width: 135px;
  height: 120px;
  border-top-left-radius: 100%;
  padding: 70px 0px 0px 45px;
  left: 44px;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  font-size: 12px;
  margin-right: 0;
  margin-left: auto;
  position: relative;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.people-banner .join-team a {
  position: absolute;
  top: 50px;
  left: 0;
  background: black;
  height: 30px;
  width: 30px;
  line-height: 30px;
  padding-left: 12px;
  font-size: 10px;
  color: white;
  border-radius: 50%;
  display: none;
}

.people-banner .join-team:hover {
  background-color: #773cfc;
  color: white;
  border-color: #773cfc;
}

.people-banner .join-team:hover a {
  display: inline-block;
}

.people-banner .join-team:hover span {
  color: white;
}

.people-banner .join-team span {
  font-size: 11.2782px;
  line-height: 17.29323px;
  font-weight: 600;
  color: black;
}

@media (max-width: 576px) {
  .people-banner {
    margin-left: 70px;
  }
  .people-banner .top-wrap ul {
    display: block;
  }
  .people-banner .join-team {
    left: 15px;
  }
}

.team {
  margin: 45px auto;
}

.team .team-item {
  margin-bottom: 25px;
  text-decoration: none;
  display: block;
}

.team .team-item .name {
  text-decoration: none;
  font-size: 19.54887px;
  line-height: 27.06767px;
  margin-top: 20px;
  color: #000000;
}

.team .team-item .designation {
  font-size: 11.2782px;
  color: #5c5c5c;
  text-decoration: none;
}

.team .team-item:hover .name {
  color: #773cfc;
}

@media (max-width: 1024px) {
  .team {
    margin-left: 75px;
  }
}

@-webkit-keyframes peopleModal {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes peopleModal {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@-webkit-keyframes peopleModalP {
  0% {
    padding-top: 25%;
  }
  100% {
    padding-top: 0%;
  }
}

@keyframes peopleModalP {
  0% {
    padding-top: 25%;
  }
  100% {
    padding-top: 0%;
  }
}

.people-modal {
  display: none;
  height: 100vh;
  background: #00000063;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding-left: 30%;
}

.people-modal .people-wrap {
  background-color: #efefef;
  position: relative;
}

.people-modal .people-wrap .close-btn {
  position: absolute;
  right: 30px;
  top: 30px;
  height: 35px;
  width: 35px;
  text-align: center;
  background-color: black;
  color: white;
  line-height: 35px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.people-modal .people-wrap .close-btn:hover {
  background-color: #773cfc;
}

.people-modal .people-wrap .img-container {
  text-align: center;
  background: linear-gradient(45deg, #e1e2e4, #e3e4e6);
}

.people-modal .bottom-wrap {
  background-color: white;
  padding: 30px;
}

.people-modal .bottom-wrap .name {
  font-size: 19.54887px;
  line-height: 25px;
  color: #000000;
}

.people-modal .bottom-wrap .designation {
  font-size: 11.2782px;
  color: gray;
  margin-bottom: 20px;
}

.people-modal .bottom-wrap ul {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  padding: 25px 0;
  list-style: none;
}

.people-modal .bottom-wrap ul li {
  font-size: 11.2782px;
  line-height: 19.54887px;
  color: #5c5c5c;
}

.people-modal .bottom-wrap p {
  font-size: 11.2782px;
  line-height: 18.79699px;
}

.people-modal .bottom-wrap .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.people-modal .bottom-wrap .social-links a {
  line-height: 30px;
  border-radius: 50%;
  color: white;
  background-color: #292929;
  margin: 0px 5px;
  height: 30px;
  width: 30px;
  text-align: center;
}

.people-modal.show {
  display: block;
}

.people-modal.show .people-wrap {
  -webkit-animation-name: peopleModal;
          animation-name: peopleModal;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.people-modal.show .people-wrap .bottom-wrap p {
  -webkit-animation-name: peopleModalP;
          animation-name: peopleModalP;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@media (max-width: 768px) {
  .people-modal {
    overflow: scroll;
    padding-left: 0;
  }
}

.service-banner {
  background-color: white;
  margin-left: 90px;
  height: calc(100vh - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-banner .top-wrap ul {
  position: absolute;
  top: 0;
  right: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 15px;
  list-style: none;
}

.service-banner .top-wrap ul li {
  margin-left: 15px;
}

.service-banner .top-wrap ul a {
  font-size: 12px;
  font-weight: lighter;
  color: gray;
}

.service-banner .top-wrap ul a span {
  font-weight: bold;
}

.service-banner .top-wrap ul a:hover {
  color: #773cfc;
}

.service-banner .center-wrap {
  padding: 45px 0px 20px 0px;
}

.service-banner .main-title {
  font-size: 36.09023px;
  line-height: 45.11278px;
  text-align: right;
  font-weight: bold;
  color: black;
}

.service-banner hr {
  margin-top: 25px;
  border-top: 2px solid gray;
}

.service-banner .quote {
  margin-top: 10px;
  font-size: 11.2782px;
  line-height: 17.29323px;
}

.service-banner .quote .quote-bottom {
  text-align: center;
}

@media (max-width: 576px) {
  .service-banner {
    margin-left: 70px;
  }
  .service-banner .top-wrap ul {
    display: block;
    right: auto;
  }
}

.fullfill-welcome-section {
  padding: 60px 0px;
}

.fullfill-welcome-section .text-box1 {
  color: #000;
  font-size: 19.54887px;
  line-height: 27.06767px;
  font-weight: 500;
}

.fullfill-welcome-section .text-box1 span {
  color: #773cfc;
}

.fullfill-welcome-section .text-box {
  margin-bottom: 45px;
  font-size: 13.53383px;
  line-height: 20.30075px;
}

.fullfill-welcome-section .back-text {
  font-size: 180px;
  font-weight: bold;
  color: #e1e1e1fa;
}

.fullfill-welcome-section .back-text span {
  font-size: 90px;
  margin-top: -90px;
  display: block;
}

.fulfill .container {
  border-top: 1px solid #dadada;
}

.fulfill .text-box1 {
  color: #000000;
  font-size: 19.54887px;
  line-height: 27.06767px;
  font-weight: 500;
  margin-top: 60px;
}

.fulfill .text-box {
  margin-top: 50px;
  font-size: 13.53383px;
  line-height: 20.30075px;
}

.fulfill .text-box ul {
  margin: 0;
  padding: 0;
  font-size: 15.03759px;
  font-weight: bold;
  list-style: none;
  line-height: 20.30075px;
}

.fulfill .text-box ul li {
  margin-bottom: 35px;
  position: relative;
}

.fulfill .text-box ul li::before {
  content: attr(data-content);
  position: absolute;
  top: -10px;
  font-size: 10px;
  left: -20px;
  color: #773cfc;
}

.fulfill .back-text {
  font-size: 180px;
  font-weight: bold;
  color: #e1e1e1fa;
}

.fulfill .back-text span {
  font-size: 90px;
  margin-top: -90px;
  display: block;
}

@media (max-width: 1024px) {
  .fullfill-welcome-section {
    margin-left: 70px;
  }
  .fulfill {
    margin-left: 70px;
  }
}

@media (max-width: 576px) {
  .fullfill-welcome-section {
    margin-left: 70px;
  }
  .fullfill-welcome-section .back-text {
    font-size: 60px;
  }
  .fullfill-welcome-section .back-text span {
    font-size: 36px;
    margin-top: -35px;
  }
  .fulfill {
    margin-left: 80px;
  }
}

.principle {
  background: black;
  padding: 60px 30px;
  margin-bottom: 60px;
}

.principle .main-title {
  font-size: 19.54887px;
  line-height: 25.56391px;
  font-weight: 600;
  color: white;
}

.principle .subtitle {
  max-width: 300px;
  margin-top: 30px;
  margin-left: 120px;
  margin-bottom: 30px;
  font-size: 13.53383px;
  line-height: 20.30075px;
  color: white;
}

.principle .bottom-text {
  font-size: 13.53383px;
  line-height: 20.30075px;
  width: 350px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  color: white;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 280px;
  height: 180px;
  background: #7e7474;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide .text {
  font-size: 22.55639px;
  line-height: 20.30075px;
  color: white;
  font-weight: bold;
}

.swiper-slide-active {
  background: linear-gradient(155deg, #773cfc, #391d77);
}

@media (max-width: 1024px) {
  .principle {
    margin-left: 70px;
  }
}

@media (max-width: 768px) {
  .principle {
    margin-left: 70px;
  }
  .principle .subtitle {
    margin-left: 0;
  }
  .principle .bottom-text {
    width: auto;
  }
}
/*# sourceMappingURL=main.css.map */